<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form" autocomplete="off">
        {if $old_secret}
        <div class="layui-card">
            <div class="layui-card-header">提示</div>
            <div class="layui-card-body">
                当前账号已经绑定过了 谷歌验证码 ，如果重新保存将替换
            </div>
        </div>
        {/if}
        <div class="layui-form-item">
            <label class="layui-form-label required">验证秘钥</label>
            <div class="layui-input-block">
                <input type="text" name="ga_secret" class="layui-input" value="{$secret}" readonly disabled>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">二维码</label>
            <div class="layui-input-block">
                <img src="{$dataUri}" alt="二维码" style="width: 200px;height: 200px">
                <div class="layui-text layui-font-cyan layui-font-12">
                    使用&nbsp;
                    <a href="https://2fas.com" target="_blank"><span class="layui-text layui-font-blue">2FAS</span></a>
                    &nbsp;或者&nbsp;
                    <a href="https://cn.bing.com/search?q=Google+Authenticator" target="_blank"><span class="layui-text layui-font-blue">Google Authenticator</span></a>
                    &nbsp;APP 扫描二维码 后 输入验证码 进行绑定
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">谷歌验证码</label>
            <div class="layui-input-block">
                <input type="text" name="ga_code" class="layui-input" maxlength="6" lay-verify="required" placeholder="扫描二维码，输入验证码" value="">
            </div>
        </div>
        <div class=" hr-line">
        </div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>